@import "/styles/mixins";

.calendarContainer {
  @include fullPageSection;
  padding-top: var(--space-container-top);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header {
  @include header;
  margin-top: 0;
  justify-self: flex-start;
  width: min(1288px, 66vw);
  @media (max-width: 1024px) {
    width: 75vw;
  }
}
.calendar {
  position: relative;
  height: min(576px, 60vh);
  width: min(1288px, 66vw);
  padding: 1rem;
  border-radius: var(--radius-lg);
  @media (max-width: 1024px) {
    margin-top: var(--space-md);
    width: 90vw;
  }
}

.sessSelect {
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 1rem;
  padding-top: 1.25rem;
  background-color: var(--white);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-calendar-primary);
}

.sessLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  li {
    cursor: pointer;
    width: 15vw;
    padding: .5rem;
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition-primary);
    &:hover {
      background-color: var(--color-accent-tr);
    }
  }
  :not(:first-child),
  :not(:last-child) {
    margin-bottom: .5rem;
  }
}

.sessSelectClose {
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .75rem;
  font-size: 1.25rem;
  color: var(--color-med);
}

.sessHeader {
  margin: 0;
  margin-bottom: 1rem !important;
  font-size: var(--text-prose);
  color: var(--color-med);
}

.sessDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-prose-sm);
  span:nth-child(1) {
    font-weight: var(--bold);
    margin-bottom: .5rem;
  }
  span:nth-child(2) {
    margin: 0;
    font-weight: var(--light);
    color: var(--color-med);
  }
}

.sessBtn {
  font-size: 1.1rem;
  color: var(--color-calendar-primary);
}

.shade {
  @include pseudoShade;
  z-index: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 110vh;
  width: 110vw;
  background-color: var(--color-accent-tr);
  background-color: var(--black-fade-40);
}

.modal {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 55vh;
  width: 60vh;
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  border-radius: var(--radius-lg);
  border: 2px solid var(--grey-10);
  background-color: var(--color-bg);
  transition: var(--transition-primary);
  @media (max-width: 1024px) {
    isolation: isolate;
    top: -30%;
    top: -35%;
    width: 90vw;
    height: var(--mobile-card-height);
    padding: 0 !important;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh calc(
        var(--mobile-card-height) - 15vh
      );
    & > * {
      z-index: 2;
    }
  }
}

.btnClose {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 20px;
  width: 20px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-subheader);
  color: var(--color-med);
  transition: var(--transition-primary);
  &:hover {
    transform: rotate(-90deg);
    path {
      fill: var(--color-calendar-primary);
    }
  }
  @media (max-width: 1024px) {
    z-index: var(--level-two);
    top: unset;
    right: unset;
    bottom: 0.75rem;
    left: 1rem;
  }
}

.times {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--off-white);
  border-top-left-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-lg);
  &::after {
    position: absolute;
    content: "";
    top: 5%;
    right: 0;
    width: 0.5px;
    height: 90%;
    background-color: var(--grey-05);
  }
  @media (max-width: 1024px) {
    overflow: hidden;
    border-top-right-radius: var(--radius-lg);
    border-bottom-left-radius: 0;
  }
}

.scrollWrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: scroll;
  @media (max-width: 1024px) {
    touch-action: pan-x;
    height: 15vh;
    justify-content: flex-start;
    border-radius: var(--radius-lg);
  }
}

.timesList {
  height: 200%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: 1024px) {
    flex-direction: row;
    height: 15vh;
    width: 100vw;
    justify-content: flex-start;
    span {
      padding: 1rem;
    }
  }
  button {
    width: 60%;
    padding: 0.5rem;
    border-radius: var(--radius-rounded);
    font-family: var(--font-body);
    transition: var(--transition-primary);
    &.active {
      background-color: var(
        --color-calendar-primary-lt
      ) !important;
      color: var(--color-calendar-primary) !important;
      font-weight: var(--bold) !important;
    }
    @media (max-width: 1024px) {
      padding: 1rem;
    }
  }
}

.details {
  touch-action: auto !important;
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  input {
    width: 90%;
    height: var(--space-4xl);
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid var(--grey-10);
    margin-bottom: var(--space-lg);
    &::placeholder {
      font-family: var(--font-body);
      padding-left: 0.5rem;
      font-size: 16px;
      color: var(--color-med);
      letter-spacing: var(--push-md);
    }
  }
}

.appt {
  height: 100%;
  width: 100%;
  padding-top: var(--space-lg);
  display: grid;
  grid-template-rows: repeat(2, 0.8fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "date time"
    "sess sess";
  .apptDetail:nth-child(2) {
    margin-left: 1.5rem;
  }
}

.sessionSelect {
  position: relative;
  align-self: flex-start;
  grid-area: sess;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  label {
    color: var(--color-med);
    font-size: 0.5rem;
    margin-bottom: 0.5rem;
    // padding-left: 1rem;
  }
  select {
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--color-calendar-primary-lt);
    border-radius: var(--radius-rounded);
  }
  option {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid green;
    text-transform: uppercase !important;
  }
  &::after {
    pointer-events: none;
    content: "▾";
    z-index: 2;
    position: absolute;
    right: 10%;
    top: 70%;
    color: var(--color-calendar-primary);
  }
}

.pseudoSelect {
  position: absolute;
  top: 115%;
  left: 0;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--grey-10);
  background-color: var(--color-calendar-primary-lt);
  color: var(--color-calendar-primary);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  li {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-rounded);
    border: 1px solid transparent;
    padding: 1rem;
    color: var(--white);
    transition: var(--transition-primary);
    &:hover {
      border: 1px solid var(--color-calendar-primary);
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    span {
      pointer-events: none;
    }
  }
  @media (max-width: 1024px) {
    top: -300%;
  }
}

.apptDetail {
  padding-top: var(--space-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: var(--push-md);
  label {
    color: var(--color-med);
    font-size: 0.5rem;
  }
  div {
    margin-top: 0.5rem;
    font-weight: var(--bold);
  }
}

.btnSubmit {
  padding-top: var(--space-lg);
  align-self: flex-end;
  justify-self: flex-end;
  button {
    color: var(--color-calendar-primary);
    transition: var(--transition-primary);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: transparent;
    &:hover {
      background: none !important;
      -webkit-text-stroke-color: var(
        --color-calendar-primary
      );
    }
  }
}
