.react-calendar {
  font-family: var(--font-body) !important;
  abbr,
  span {
    font-family: var(--font-body) !important;
  }
}

.react-calendar {
  &__navigation {
    // position: relative;
    position: absolute;
    top: 112px;
    top: -20%;
    right: 0;
    padding: 0.5rem;
    transform: translateY(50%);
    margin-bottom: var(--space-2xl);
    color: var(--green);
    border-radius: var(--radius-rounded);
    border: 1px solid var(--color-calendar-primary-lt);
    transition: var(--transition-primary);
    @media (max-width: 1024px) {
      border: none;
      right: unset;
      left: 5%;
      top: -5%;
      transform: unset;
      padding: 0;
    }
    &:hover {
      background: var(--off-white);
      border: 1px solid var(--color-calendar-primary);
    }
    &__label {
      pointer-events: none;
      font-size: var(--text-prose-sm);
      font-weight: var(--bold);
      color: var(--calendar-accent);
      letter-spacing: var(--push-lg);
      text-transform: uppercase;
    }
    &__arrow {
      font-size: var(--text-prose-em);
      font-weight: var(--bold);
      color: var(--calendar-accent);
      transition: var(--transition-primary);
      &:hover {
        transform: scale(1.15);
        color: var(--color-calendar-secondary);
      }
    }
    &__next-button {
    }
    &__prev-button {
    }
    &__prev2-button,
    &__next2-button {
      display: none;
    }
    @media (max-width: 1024px) {
    }
  }
  @media (max-width: 1024px) {
  }
}

.react-calendar {
  &__viewContainer {
  }
  &__month-view {
    &__weekdays {
    }
    &__weekdays__weekday {
      padding: var(--space-lg);
      text-align: center;
      font-weight: var(--bold);
      color: var(--color-calendar-secondary);
      abbr {
        text-decoration: none !important;
      }
      @media (max-width: 1024px) {
        font-size: var(--text-prose-sm);
        font-size: 16px;
      }
    }
    &__days {
    }
    &__days__day {
      isolation: isolate;
      position: relative;
      cursor: pointer;
      padding: var(--space-2xl) var(--space-lg);
      padding: var(--space-lg) var(--space-lg);
      color: var(--color-med);
      font-size: var(--text-lg);
      letter-spacing: var(--push-sm);
      transition: var(--transition-primary);
      border-radius: var(--radius-md);
      border: 1px solid transparent;
      &:hover {
        border: 1px solid var(--color-calendar-primary-lt);
      }
      &:focus,
      &:focus-within {
        &::after {
          opacity: 0.5;
        }
      }
      &::after {
        z-index: -1;
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        color: var(--primary);
        border-radius: var(--radius-sm);
        background-color: var(--color-calendar-primary-lt);
        opacity: 0;
        transition: var(--transition-primary);
      }
      &.NA {
        text-decoration: line-through;
        color: var(--calendar-accent);
        opacity: 0.6;
        font-weight: var(--body);
        &:hover {
          background-color: transparent;
          opacity: 0.4;
        }
      }
      @media (max-width: 1024px) {
        font-size: var(--text-prose-sm);
      }
    }
  }
}