@import "/styles/mixins";

.aboutContainer {
  @include pageSection;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
}

.content {
  position: relative;
  height: auto;
  min-height: 150vh;
  width: 100vw;
  isolation: isolate;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 15px solid var(--grey-05);
  .btnCollapse {
    z-index: 2;
    position: fixed;
    bottom: 3vw;
    left: 3vw;
    &:hover {
      span {
        opacity: 1;
        top: -140%;
      }
    }
    span {
      opacity: 0;
      position: absolute;
      left: -130%;
      top: -100%;
      transform: translateY(-200%) rotate(-90deg);
      text-transform: uppercase;
      font-family: var(--font-body);
      font-size: 24px;
      font-weight: var(--light);
      letter-spacing: 5px;
      text-transform: uppercase;
      color: var(--color-med);
      transition: var(--transition-3-smooth);
    }
  }
  .bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
  }
}
// https://res.cloudinary.com/jameswalker-work/video/upload/f_auto,q_auto:best/v1663493648/emerging/about_gmtfyh.mp4

.expContent {
  z-index: 2;
  margin-left: -0.5%;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65vh repeat(3, auto);
  div {
  }
  div:nth-child(2) {
    transform: translateX(-25%);
    div {
      width: 75%;
      p {
        font-size: var(--text-prose-em);
      }
    }
  }
}

@mixin pageCenter {
  grid-column: span 2;
  margin-left: 22.5vw;
  width: min(1200px, 55vw);
  padding: 0;
}

.list {
  @include pageCenter;
  li {
    font-family: var(--font-body);
    font-size: var(--text-prose-em);
    font-weight: var(--reg);
    font-style: italic;
    letter-spacing: var(--push-ms);
    margin-bottom: 48px;
  }
}

.endList {
  @include pageCenter;
  color: var(--color-text);
  list-style: none;
  li {
    font-family: var(--font-body);
    font-size: var(--text-prose-em);
    font-weight: var(--semibold);
    letter-spacing: var(--push-ms);
    margin-bottom: 32px;
  }
}

.closing {
  @include pageCenter;
  position: relative;
  height: 12.5vh;
  margin-top: 5vh;
  margin-bottom: 25vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--text-hero-subheader);
  font-weight: var(--bold);
  letter-spacing: var(--push-ms);
  :last-child {
    color: var(--color-med);
  }
  &::after {
    position: absolute;
    content: '';
    height: .5px;
    width: 50px;
    bottom: -5vh;
    background-color: var(--color-med);
  }
}
