@import "/styles/mixins";

.aboutContainer {
  @include pageSection;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
}

.expanderContainer {
  position: relative;
  height: auto;
  padding-bottom: 10vh;
  min-height: 150vh;
  width: 100vw;
  isolation: isolate;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 15px solid var(--grey-05);
}

.expanderContent {
  z-index: 2;
  margin-left: -0.5%;
  height: 100%;
  padding-bottom: 10vh;
  width: 100%;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65vh repeat(3, auto);
  div:nth-child(2) {
    transform: translateX(-25%);
    div {
      width: 75%;
      p {
        font-size: var(--text-prose-em);
      }
    }
  }
  @media (max-width: 1024px) {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    div {
      height: auto !important;
      width: var(--mobile-card-width);
      transform: unset !important;
      border: none;
      div {
        height: auto;
        width: 100% !important;
      }
    }
  }
}

.btnCollapse {
  z-index: 2;
  @include btnCollapse
}

.bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
}

@mixin pageCenter {
  grid-column: span 2;
  margin-left: 22.5vw;
  width: min(1200px, 55vw);
  padding: 0;
  @media (max-width: 1024px) {
    width: var(--mobile-card-width);
    margin: 0;
  }
}

.list {
  @include pageCenter;
  position: relative;
  list-style: circle;
  padding-top: var(--space-container-top);
  padding-top: 5vh;
  padding-bottom: 10vh;
  li {
    font-family: var(--font-body);
    font-size: var(--text-prose-em);
    font-weight: var(--reg);
    font-style: italic;
    letter-spacing: var(--push-ms);
    margin-bottom: 48px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(100% - 5vh);
    background-color: var(--grey-fade-10);
  }
}

.endList {
  @include pageCenter;
  color: var(--color-text);
  list-style: none;
  li {
    font-family: var(--font-body);
    font-size: var(--text-prose-em);
    font-weight: var(--semibold);
    letter-spacing: var(--push-ms);
    margin-bottom: 32px;
  }
}

.closing {
  @include pageCenter;
  position: relative;
  height: 12.5vh;
  margin-top: 5vh;
  margin-bottom: 25vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--text-hero-subheader);
  font-weight: var(--bold);
  letter-spacing: var(--push-ms);
  :last-child {
    color: var(--color-med);
  }
  &::after {
    position: absolute;
    content: "";
    height: 0.5px;
    width: 50px;
    bottom: -5vh;
    background-color: var(--color-med);
  }
}
