@import "/styles/mixins";

.overview {
  @include pageSection;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
}

.expanderContent {
  isolation: isolate;

  .btnCollapse {
    z-index: 99 !important;
  }
  .blocks {
    z-index: 2;
  }
  .bg {
    z-index: 1;
  }
}

.expanderContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.blocks {
  padding-top: var(--space-container-top);
  padding-bottom: calc(2 * var(--space-container-top));
  width: var(--portal-content-width);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  button {
    margin-top: 3rem;
  }
  @media (max-width: 1024px) {
  }
}

.block {
  h2 {
    @include header;
    @media (max-width: 1024px) {
      margin-bottom: 0;
      font-size: 28px;
      color: var(--color-accent-dark);
    }
  }
  p {
    @include prose;
    letter-spacing: normal;
    line-height: 150%;
    @media (max-width: 1024px) {
      font-size: var(--text-prose-sm);
    }
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.btnCollapse {
  @include btnCollapse;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
}
